@tailwind base;
@tailwind components;
@tailwind utilities;

/* .backdrop {
    background: rgba(1, 37, 70, 0.6);
  

    backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow-y: scroll;
  } */

.backdrop {
	background: rgba(0, 0, 0, 0.1);
	/* backdrop-filter: blur(8px); */
	/* opacity: 0.5; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.images {
	width: auto;
	height: auto;
}

.add {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.content {
	flex: 5;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.content input {
	padding: 10px;
	border: 1px solid lightgray;
}

.editorContainer {
	height: 300px;
	overflow: scroll;
	border: 1px solid lightgray;
}
.editor {
	height: 100%;
	border: none;
}

/* width */
.scroll-column-history::-webkit-scrollbar {
	width: 2px !important;
	padding: 10px 0 !important;
	height: 2px !important;
}

/* Track */
.scroll-column-history::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #d9d9d9;
	border-radius: 2px;
	height: 2px !important;
	width: 2px !important;
}

/* Handle */
.scroll-column-history::-webkit-scrollbar-thumb {
	background: #013d83;
	border-radius: 2px;
}

/* Handle on hover */
.scroll-column-history::-webkit-scrollbar-thumb:hover {
	background: #013d83;
	height: 2px !important;
}
